header {
    position: sticky;
    width: 100%;
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    top: 10px;
    background: #fff;
    padding: 8px;
    z-index: 1;
}
header input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
}
.loading {
    text-align: center;
    padding: 16px;
    
}